.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 400px;
  background: #f0f2f1;
  padding: 25px 50px;
  text-align: center;
}

.social-container h1 {
  padding: 25px;
  color:#000;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
  color: #fff;
}

a.youtube,
a.facebock,
a.instagram,
a.spotify {
  color: #000;
  font-size: 40px;
}

@media screen and (max-width: 600px) {
  a.youtube,
  a.facebock,
  a.instagram,
  a.spotify {
    color:#eee;
    font-size: 30px;
  }
}
